{% extends 'polls/template.html' %}
{% block title %}Sorular{% endblock %}
{% block content %}
    {% if question %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Soru</th>
                <th scope="col">Yayın Tarihi</th>
                <th scope="col">Oylar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{question.id}}</th>
                <td>{{question.question_text}}</td>
                <td>{{question.pub_date}}</td>
                <td>
                    <ul>
                        {% for choices in question.choice_set.all %}
                            <li>{{choices.choice_text}}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    {% else %}
    <p>Soru bulunamadı!</p>
    {% endif %}
{% endblock %}